*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "OpenSans-Regular", sans-serif;
	font-size: 16px;
}
.logo {
	font-size: 27px;
	font-family: "OpenSans-Bold";
	margin: 20px -50px;
	float: left;
}
.topline_mnu a {
	text-decoration: none;
	list-style-type: none;
	color: #a4a4a4;
	display: inline-block;
	float: right;
}
.topline_mnu a:hover {
	color: #A4A496;
	text-decoration: underline;
}
.topline_mnu a:active {
	color: #ff6c40;
}
.topline_mnu .active {
	color: #ff6c40;
}
.topline_mnu .active:hover {
	color: #FF6C0B;	
}
.topline_mnu ul  li {
	margin: 20px 60px 50px 20px;
}
.top_img {
	width: 1350px;
	margin-left: -105px;
}
.avatar {
	position: absolute;
	float: left;
	margin-top: -173px;
	margin-left: 134px;
	border: 0;
	border-radius: 50px;
	width: 65px;
}
.title_img h1 {
	color: #e85f37;
	background-color: #fff;
	height: 44px;
	width: 670px;
	border: 0;
	border-radius: 10px;
	font-family: "OpenSans-Bold";
	padding: 10px 20px;
	margin-top: -159px;
	margin-left: 208px;
	font-size: 16px;
	position: absolute;
	letter-spacing: 3px;
}
.title_section {
	display: block;
	margin-top: 50px;
	margin-left: -50px;
}
.title_section h1 {
	font-size: 22px;
	font-family: "OpenSans-Bold";
}
.discr_section p {
	color: #535353;
	font-family: "OpenSans-Regular";
	margin-left: -50px;
}
.buttons  {
	color: #e85f37;
	font-size: 13px;
	font-family: "OpenSans-Bold";
	letter-spacing: 2px;
	border: 1px #e85f37 solid;
	border-radius: 5px;
	background-color: #fff;
	padding: 5px 15px;
	list-style-type: none;
	text-decoration: none;
	position: absolute;
	margin-top: 10px;
	margin-left: -50px;
}
.buttons:hover {
	color: #c64924;
	border: 1px #c64924 solid;
	text-decoration: underline;
}
.pidr {
	margin-top: 60px;
	margin-left: -50px;
}
.info {
	margin-top: 10px;
}
.info p {
	font-size: 12px;
	font-family: "OpenSans-Regular" ;
	color: #535353;
}
.info  span {
	font-family: "OpenSans-Bold" ;
}
.pidar2 {
	margin-left: -50px;
}
.discr_section .disc_img {
    margin-top: -158px;
    margin-left: 387px;
    position: absolute;
}
.button_footer {
	color: #fff;
	background-color: #000;
	border: 0;
	border-radius: 5px;
	font-family: "OpenSans-Bold" ;
	font-size: 14px;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-left: -50px;
}
.button_footer:hover {
	text-decoration: underline;
}
.fa-arrow-left {
	margin-right: 9px;
}
.social_buttons{
	display: inline-block;
	float: right;
	margin-right: 470px;
}
.social_buttons a {
	margin-left: 15px;
	list-style-type: none;
	color: #ABABAB;
	font-size: 20px;
}
.footer_title h1{
	text-transform: uppercase;
	font-size: 14px;
	color: #525252;
	text-align: center;
	margin-top: 50px;
	margin-left: -430px;
}